{% extends "!layout.html" %}

{% block header %}
  <header class="md-header" data-md-component="header">
    <nav class="md-header__inner md-grid">
    <a href="{{ config.site_url | default(nav.homepage.url, true) | url }}" class="md-header__button md-logo" aria-label="{{ config.site_name }}">
    {% include "partials/logo.html" %}
    </a>


      <!-- Custom Navigation Links -->
      <div class="md-header__navlinks">
        <a href="https://tymyrddin.dev/" class="md-header__navlink">Ty Myrddin</a>
        <a href="https://red.tymyrddin.dev/" class="md-header__navlink">Red team</a>
        <a href="https://green.tymyrddin.dev/" class="md-header__navlink">Green team</a>
        <a href="https://blue.tymyrddin.dev/" class="md-header__navlink">Blue team</a>
        <a href="https://purple.tymyrddin.dev/" class="md-header__navlink">Purple team</a>
      </div>

      <div class="md-header__options">
        {% if "search" in config["plugins"] %}
          <label class="md-header__button md-icon" for="__search">
            {% include ".icons/material/magnify.svg" %}
          </label>
          {% include "partials/search.html" %}
        {% endif %}
        {% if not config.theme.palette is mapping %}
          <label class="md-header__button md-icon" for="__palette">
            {% include ".icons/material/theme-light-dark.svg" %}
          </label>
        {% endif %}
        {% if config.repo_url %}
          <div class="md-header__source">
            {% include "partials/source.html" %}
          </div>
        {% endif %}
      </div>
    </nav>
  </header>
{% endblock %}